.nav-bar{
    display: flex ;
    justify-content: space-between;
    padding: 2% 3%;
    height: 6vh;
    padding-bottom: 5%;
    a{
      text-decoration: none;
      color: white;
    }
    .logo{
      display: flex;
    .logo-icon{
      height: 6vh;
      padding-right: 10px;
    }
  }
}
@media only screen and (max-width: 767px) {

}
