.error{
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
  img{
    height: 12vh;
  }
  p{
    font-weight: lighter;
  }
}

.loading{
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}
